@mixin font($prefix: null, $value...) {
    @if prefix == null {
        font: $value;
    } @else {
        font-#{$prefix}: $value;
    }
}

@mixin fontSize($value: 12px) {
    font-size: $value;
}

@mixin fontFamily($value: '-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"') {
    font-family: $value;
}

@mixin fontStyle($value: normal) {
    font-style: $value;
}

@mixin fontVariant($value: normal) {
    font-variant: $value;
}

@mixin fontWeight($value: bold) {
    font-weight: $value;
}

