@mixin bgColor($color: #fff, $apl: 1) {
    @if $apl == 1 {
        background-color: $color;
    } @else {
        background-color: rgba($color, $apl);
    }
}

@mixin bgImage($url) {
    background-image: url($url);
}

@mixin bgPosition($a: center, $b: center) {
    background-position: $a $b;
}

@mixin bgSize($a: cover, $b: null) {
    @if $b == null {
        background-size: $a;
    } @else {
        background-size: $a $b;
    }
}

@mixin bgRepeat($repeat: no) {
    @if $repeat == y {
        $repeat: repeat-y;
    } @else if $repeat == x {
        $repeat: repeat-x;
    } @else if $repeat == none {
        $repeat: no-repeat;
    } @else if inh {
        $repeat: inherit;
    }
}

@mixin bgAtc($atc: scroll) {
    @if $atc == scroll {
        background-attachment: scroll;
    } @else if $atc == fix {
        background-attachment: fixed;       
    } @else if $atc == inh {
        background-attachment: inherit;        
    }
}

@mixin bgOrion($origon: padding) {
    @if $origon == padding {
        background-origin: padding-box;
    } @else if $origon == border {
        background-attachment: border-box;        
    } @else if $origon == content {
        background-origin: content-box;       
    }
}

@mixin bgClip($clip) {
    @if $clip == padding {
        background-origin: padding-box;
    } @else if $clip == border {
        background-attachment: border-box;        
    } @else if $clip == content {
        background-origin: content-box;       
    }
}
