@mixin bg($prefix: null, $value...) {
    @if $prefix == null {
        background: $value;
    } @else {
        background-#{$prefix}: $value;
    }
}

@mixin bgColor($color: #fff, $apl: 1) {
    @if $apl == 1 {
        background-color: $color;
    } @else {
        background-color: rgba($color, $apl);
    }
}

@mixin bgImage($url) {
    background-image: url($url);
}

@mixin bgPosition($a: center, $b: center) {
    background-position: $a $b;
}

@mixin bgSize($a: cover, $b: null) {
    @if $b == null {
        background-size: $a;
    } @else {
        background-size: $a $b;
    }
}

@mixin bgRepeat($value: no-repeat) {
    background-repeat: $value;
}

@mixin bgAtc($atc: scroll) {
    background-attachment: scroll;
}

@mixin bgOrion($value: padding) {
    background-origin: $value;
}

@mixin bgClip($value: padding-box) {
    background-origin: $value;
}
