@mixin position($value: relative) {
    position: $value;
}

@mixin top($value) {
    top: $value;
}

@mixin left($value) {
    left: $value;
}

@mixin right($value) {
    right: $value;
}

@mixin bottom($value) {
    bottom: $value;
}

@mixin flow($valu: row) {
    flex-flow: row;
}

@mixin flex($value: 1) {
    flex: 1
}

@mixin justifyContent($value: center) {
    justify-content: center;
}

@mixin alignItems($value: center) {
    align-content: center;
}



