@mixin position($value: relative) {
    position: $value;
}

@mixin top($value) {
    top: $value;
}

@mixin left($value) {
    left: $value;
}

@mixin right($value) {
    right: $value;
}

@mixin bottom($value) {
    bottom: $value;
}
